# This line ensures the vendor folder (anywhere) is not scanned during version:wp:check.
# This script uses WP Since (https://github.com/eduardovillao/wp-since) and by default scans all .php files.
# Only the plugin's own .php files should be scanned, not vendor .php files.
# The vendor folder is not added to .distignore as it is needed in the zip for auto-load, non-dev dependencies, etc.
vendor/ export-ignore