# Ignore OS-generated or temporary files (anywhere).
.DS_Store
Thumbs.db

# Ignore coding standard reports (anywhere).
phpcs-report.txt

# Ignore asset/build directories (root).
/assets
/zip

# Ignore dependency directories (anywhere).
node_modules/
vendor/